@import '@/styles/__settings.scss';

@mixin form() {
  width: 100%;
  background-color: $white;
  border-radius: toRem(10);
  display: flex;
  flex-direction: column;
  padding: toRem(24);
  gap: toRem(16);

  @include desktop() {
    width: toRem(540);
  }

  .terms {
    margin-top: toRem(8);
  }
}

.form {
  @include form();
  height: toRem(442);

  @include desktop() {
    height: toRem(474);
  }
}

.errorForm {
  @include form();
  height: auto;

  @include desktop() {
    height: auto;
  }
}
