@import '@/styles/__settings.scss';

.tryIt {
  display: flex;
  @include center();
  height: toRem(88);
  width: 100%;
  background-color: $purple;
  border-radius: toRem(10);
  color: $white;
  padding: toRem(18) toRem(67);
  text-align: center;
  font-weight: 300;
  font-size: toRem(15);
  line-height: toRem(26);
  letter-spacing: toRem(0.267857);

  @include desktop() {
    width: toRem(540);
    height: toRem(60);
  }

  .bold {
    font-weight: 700;
  }
}
